.container {
  overflow: hidden;
  height: 80vh;
  margin: 64px 128px;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.ball {
  overflow: hidden;
  position: absolute;
  top: 0%;
  right: -15%;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: linear-gradient(#e23e57, #f07b3f);
}

.ball1 {
  position: absolute;
  top: 65%;
  right: 90%;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: linear-gradient(#e23e57, #f07b3f);
}

.header__left {
  max-width: 480px;
}

.header__left > h1 {
  color: #212121;
  margin-bottom: 8px;
}

.header__left > p {
  color: #212121;
  text-align: justify;
  margin-bottom: 16px;
}

.header__right {
  margin-top: -64px;
  min-width: 500px;
} 

.buttonPrimary {
  cursor: pointer;
  border: none;
  color: whitesmoke;
  background-color: #3B6EC7;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
  width: 100%;
}

.buttonPrimary:hover {
  background-color: #437cdd;
}

.image {
  pointer-events: none;
}

.contactForm {
 display: flex;
 flex-direction: column; 
 height: 480px;
 width: 480px;
 gap: 8px;
}

.contactForm > input {
  background-color: whitesmoke;
  padding: 16px 8px;
  border: none;
}

.contactForm > textarea {
  background-color: whitesmoke;
  height: 240px;
  padding: 16px 8px;
  border: none;
}